.wrapper{
  width: 100%;
  height: 800px;
}

.wrapper > *{
  height: 200px;
  width: 100%;
  background-position: center;
}

.img1{
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-color: red;
}

.img2{
  background-image: url(img/box2.jpg);
  background-size: cover;
}

.img3{
  background-image: url(img/box3.jpg);
  background-size: cover;
}

.img4{
  background-image: url(img/box4.jpg);
  background-size: cover;
}